<h1>О проекте</h1>
Данный проект создан для упрощения жизни всех, кто держит экзотических питомцев и не хочет
держать в голове график кормления, наблюдения за весом, периодичность линек и любые проблеммы,
которые бывают у наших маленьких друзей.
