 <b>Добро пожаловать на сайт любителей экзотических питомцев!</b>
<br><br>

 Данный проект создан для упрощения жизни всех, кто держит экзотических питомцев и не хочет
 держать в голове график кормления, наблюдения за весом, периодичность линек и любые проблемы,
 которые бывают у наших маленьких друзей.

  <p  >Для получениия доступа к полному функционалу сайта пожалуйста зарегистрируйтесь, или пройдите авторизацию!</p>
  <hr class="my-2">
  <p class="lead">
  <%= link_to "Создать аккаунт", new_user_registration_path, class: "btn btn-success " %> или
  <%= link_to "Войти", new_user_session_path, class: "btn btn-success " %>
  </p>


