<div class="jumbotron ">
  <b>Добро пожаловать на сайт любителей экзотических питомцев!</b>
  <p  >Для получениия доступа к полному функционалу сайта пожалуйста зарегистрируйтесь, или пройдите авторизацию!</p>
  <hr class="my-2">
  <p class="lead">
  <%= link_to "Создать аккаунт", new_user_registration_path, class: "btn btn-success " %> или
  <%= link_to "Войти", new_user_session_path, class: "btn btn-success " %>
  </p>
</div>
