<p>Добрый день, <%= @resource.nikname %>!</p>

<p>Вы получили это письмо, потому, что кто-то пытался поменять ваш пароль. Для подтверждения этого действия перейдите по ссылке ниже.</p>

<p><%= link_to 'Поменять пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не хотите менять пароль - просто игнорируйте данное сообщение.</p>
