<p>Здравствуйте, <%= @resource.nikname %>!</p>

<p>Ваш аккаунт был заблокирован из-за многократного введения неправильных регистрационных данных.</p>

<p>Для разблокировки аккаунта перейдите по ссылке:</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
